.drop-down {
    display:flex;
    justify-content: center;
}
.drop-down .label {
    padding: 0 1rem;
}

.drop-down-menu  {
    outline: 0;
    overflow: hidden;
    height: 30px;
    background: #2c343c;
    color: #eaeef1;
    border: #2c343c;
    padding: 5px 3px 5px 10px;
    border-radius: 10px;
}